.contentPage {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: 65% 30%;
    grid-column-gap: 5%;
}

.postList {
    padding: 0 15px;
    padding-top: 65px;

}

.post {
    height: 404px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 75px;
}

.posthead {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.left {
    width: 50%;
    overflow: hidden;
}

.left > img {
    max-width: 100%;
    height: auto;
    z-index: 0;
}

.right {
    width: 50%;
    padding-left: 36px;
    padding-right: 5px;

}

.titlePost {
    margin-bottom: 55px;
    position: relative;
    z-index: 111;
}

.titlePost::after {
    content: '';
    width: 130%;
    height: 130%;
    position: absolute;
    left: -30%;
    top: -15%;
    z-index: -1;
    border: 3px solid var(--acent-color);
}

.category {
    margin-bottom: 18px;
}

.category > a {
    padding-right: 15px;
}

.post__title {
    margin-bottom: 37px;
}

.post__title > a {

    font-family: "JosefinSans-Bold";
    font-size: 20px;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
}

.postInfo {}

.postInfo > time {
    font-size: 12px;
}

.postInfo > span {
    margin-left: 18px;
    font-weight: bold;
}

.dicriotionPost {
    font-size: 15px;
    color: #0f0d0e;
    line-height: 22px;
}

.comemntPostAndLinks {
    width: 60%;
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 10px;
}


.sharePost {
    width: 40%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-around;
    align-items: center;
    color: #0f0d0e;
}

.sideBar {
    padding: 0 15px;
}

.about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abotAvatar {
    z-index: 1;
    max-height: 100%;
    height: auto;
}

.aboutContent {
    border: 3px solid var(--acent-color);
    margin-top: -97px;
    padding: 113px 30px 33px 30px;
    z-index: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    text-align: center;
    font-family: "JosefinSans-Bold";
    font-size: 20px;
    color: #0f0d0e;
    margin-bottom: 24px;
}

.aboutText {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #575556;

}

.aboutLogo {
    margin: 28px auto 11px auto;
}

.aboutFooter {
    width: 100%;
}

.aboutSocial {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-around;
    padding-top: 13px;
}

.aboutSocial > a {
    color: #000;
    font-size: 16px;
}

.subscribe {
    height: 241px;
    padding: 36px 0 40px 0;
    margin-bottom: 36px;

}

.form__email {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 30px;
    font-size: 16px;

    margin-bottom: 20px;
}

.form__btn {
    display: block;

    width: 100%;
    height: 50px;

    border: none;

    background-color: var(--acent-color);

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.categoriesAside {
    margin-bottom: 40px;
}

.Aside-categories-item {
    padding: 11px 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.Aside-categories-item > a {
    text-decoration: none;
    color: #0d0d0d;
    font-weight: bold;
}

.Aside-categories-item > span {
    color: var(--acent-color);
    font-size: 14px;
}


.precent-post {
    margin-bottom: 50px;
}

.precent-post-list {}

.precent-post-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 25px;
    transition: all 0.5s;
}

.precent-post-item:hover {
    background-color: var(--acent-color);
}

.precent-post-img {}

.precent-post-cont {
    margin-left: 15px;
}

.precent-post-cont > time {
    display: block;
    color: #757575;
    font-size: 12px;
    margin-bottom: 5px;
}

.precent-post-cont > h4 > a {
    font-family: "JosefinSans-Bold";
    font-size: 18px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.search {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 40px;
}

.search > input {
    width: 85%;
    height: 50px;

    background-color: #eee;
    border: none;
    font-size: 16px;
    padding-left: 30px;
    font-weight: bold;
}

.search > button {
    width: 15%;
    height: 50px;
    background-color: var(--acent-color);
    border: none;
    color: #fff;
    font-size: 16px;

}

.search > button:hover {
    background-color: #484848;
    border: 3px solid var(--acent-color);
}

.tags {
    margin-bottom: 50px;
}

.tags > a {
    display: inline-block;
    line-height: 30px;
    padding: 0px 15px;
    border: 3px solid #ccc;
    text-decoration: none;
    margin-bottom: 7px;
    font-weight: bold;

    color: #000;

    transition: all 0.5s;
}

.tags > a:hover {
    border: 3px solid var(--acent-color);
}

@media screen and (max-width: 980px) {
    .contentPage {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 50px;
    }
}

@media screen and (max-width: 500px) {
    .post {

        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        height: 700px;
        margin-bottom: 50px;
    }

    .posthead {
        width: 100%;
        background-color: transparent;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
        height: auto;
        overflow: visible;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }

    .right {
        width: 100%;
        height: 400px;
        margin-top: 25px;
        padding-left: 0;
    }
    .titlePost {text-align: center;}
    .titlePost::after {
        width: 100%;
        height: 120%;
        left: 0;
        top: -10%;
    }
    .comemntPostAndLinks {width: 100%;}

}
